<!-- views/error.ejs -->

<% layout('layouts/boilerplate') %>
<div class="container">
<div class="row">
  <div class="col-8 offset-2">
<div class="alert alert-danger mt-5"  role="alert">
  <h4 class="alert-heading"><strong><%= err.message %></strong></h4>
  <hr>
  <% if (process.env.NODE_ENV !== "production") { %>
    <p><%= err.stack %></p> 
  <% } %>
</div>
<a href="/home">Back to home page.</a>
</div>
</div>
</div>





