<!-- views/users/register.ejs -->

<% layout('layouts/boilerplate') %>  <%- include('../partials/navbar') %>

<section class="container-fluid" id="signupSection">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 offset-md-2 m-5">
      <div class="card p-5">
          <h1 class="mb-4">Register here</h1>
          <form id="registerForm" action="/users/register" method="POST" class="needs-validation" novalidate>
              <div class="form-outline form-floating mb-4">
                <input type="text" id="username" class="form-control" name="username" required />
                <label class="form-label" for="username">Username</label>
              </div>
            <div class="form-outline mb-4 form-floating">
              <input type="email" id="email" name="email" class="form-control" required />
              <label class="form-label" for="emal">Email</label>
            </div>
            <div class="form-outline mb-4 form-floating">
              <input type="password" id="password" name="password" class="form-control" required />
              <label class="form-label" for="password">Password</label>
            </div>
            <button type="submit" class="btn btn-block mb-4" id="btnSubmit">
              Sign up
            </button>
            <p id="passwordError" style="color:red;"></p>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  document.getElementById('registerForm').addEventListener('submit', function(event) {
    const password = document.getElementById('password').value;
    const passwordError = document.getElementById('passwordError');
    const passwordRegex = /^(?=.*[0-9])[A-Za-z0-9]{8,}$/;

    if (!passwordRegex.test(password)) {
      event.preventDefault();
      passwordError.textContent = 'Password must be at least 8 characters long and include at least one number. Symbols are not allowed.';
    } else {
      passwordError.textContent = '';
    }
  });
</script>
    
